

.client-background{
    background: #00001e;
    height: 600px;
    padding-top: 50px;
    padding-bottom: 50px;

.client-top {
    display: flex;
    align-items: center;
    justify-content: center;

.client-top-content{ 
h1 {
        color: #fff;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 30px;
    text-align: center;
    }

p{
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.445);
    margin-top: 20px;
}
}
}












}
























