@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap");
.menuboard-section {
  height: auto;
  padding-top: 50px;
  padding-bottom: 100px;
  background: #00001e;
}
.menuboard-section .menuboard-section-top .menuboard-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuboard-section .menuboard-section-top .menuboard-content a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.747);
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
}
.menuboard-section .menuboard-section-top .menuboard-content a:hover {
  color: #fff;
  text-decoration: underline;
  transform: translateY(-5px);
}
.menuboard-section .menuboard-section-top .menuboard-content #main {
  color: #fff;
  text-decoration: underline;
}
.menuboard-section .menuboard-section-down {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.menuboard-section .menuboard-section-down .menubord-flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuboard-section .menuboard-section-down .menubord-flexbox .menuboard-card {
  height: 200px;
  width: 200px;
  padding: 20px;
  margin-bottom: -20px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}
.menuboard-section .menuboard-section-down .menubord-flexbox .menuboard-card img {
  height: 140px;
  border-radius: 50%;
  transition: all 8s ease-in-out;
}
.menuboard-section .menuboard-section-down .menubord-flexbox .menuboard-card:hover img {
  transform: rotate(300deg);
}
.menuboard-section .menuboard-section-down .menubord-flexbox .menuboard-card h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  text-transform: capitalize;
  cursor: pointer;
}
.menuboard-section .menuboard-section-down .menubord-flexbox .menuboard-card h2:hover {
  color: rgba(0, 0, 255, 0.664);
}
.menuboard-section .menuboard-section-down .menubord-flexbox .menuboard-card p {
  color: rgba(255, 255, 255, 0.623);
  font-weight: 600;
  font-size: 15px;
  margin-top: 10px;
  line-height: 1.3;
}
.menuboard-section .menuboard-section-down .menubord-flexbox .menuboard-card h4 {
  color: rgba(0, 0, 255, 0.664);
  margin-top: 10px;
}

.menu-background {
  background: url(../image/menu.jpg);
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding-top: 160px;
  background-attachment: fixed;
}
.menu-background::after {
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(22, 28, 45, 0.2470588235);
  z-index: -1;
  height: 100px;
}
.menu-background .menu-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.menu-background .menu-content .menu-text h3 {
  font-size: 23px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.815);
  text-align: center;
  margin-bottom: 20px;
}
.menu-background .menu-content .menu-text h1 {
  margin-bottom: 50px;
  color: #fff;
  font-size: 30px;
}

.grid-section {
  height: auto;
  background: #00001e;
  padding-top: 100px;
  padding-bottom: 100px;
}
.grid-section .top-grid-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
  margin-bottom: 100px;
}
.grid-section .top-grid-section .grid-logo img {
  height: 530px;
}
.grid-section .top-grid-section .grid-content p {
  color: rgba(204, 204, 204, 0.7725490196);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
}
.grid-section .top-grid-section .grid-content h3 {
  color: #fff;
  font-size: 30px;
  line-height: 1.8;
}
.grid-section .top-grid-section .grid-content #page-content {
  color: rgba(204, 204, 204, 0.7725490196);
  margin-top: 30px;
  line-height: 1.5;
}
.grid-section .down-grid-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-section .down-grid-section .down-grid-section-flexbox {
  display: flex;
  align-items: center;
  gap: 2em;
}
.grid-section .down-grid-section .card-box {
  height: auto;
  width: 290px;
  text-align: center;
}
.grid-section .down-grid-section .card-box .icon-view {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  margin: auto;
  background: #1f2937;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 1px rgba(204, 204, 204, 0.493);
  margin-bottom: 30px;
}
.grid-section .down-grid-section .card-box .icon-view span {
  font-size: 40px;
  color: rgba(0, 0, 255, 0.568);
  cursor: pointer;
}
.grid-section .down-grid-section .card-box h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.grid-section .down-grid-section .card-box h3:hover {
  color: rgba(0, 0, 255, 0.623);
  cursor: pointer;
}
.grid-section .down-grid-section .card-box p {
  color: rgba(255, 255, 255, 0.349);
  text-align: center;
  font-weight: 600;
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.5em;
}
.grid-section .down-grid-section .card-box .btn-view {
  width: 140px;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: rgba(0, 0, 255, 0.473);
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.grid-section .down-grid-section .card-box .btn-view::after {
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  background: blue;
  transition: all 0.4s ease-in-out;
  width: 0%;
  height: 7%;
}
.grid-section .down-grid-section .card-box .btn-view:hover::after {
  width: 100%;
  height: 7%;
  transition: all 0.4s ease-in-out;
  border-radius: 5px;
}
.grid-section .down-grid-section .card-box .btn-view p {
  color: rgba(0, 0, 255, 0.473);
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 600;
}
.grid-section .down-grid-section .card-box .btn-view span {
  margin-top: 10px;
}

.top-section {
  background: url(../image/bg01.jpg);
  height: 660px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.top-section .navbar {
  height: 70px;
}
.top-section .navbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.top-section .menu-left img {
  cursor: pointer;
}
.top-section .menu-right {
  display: flex;
  align-items: center;
  gap: 2em;
  text-decoration: none;
}
.top-section .menu-right a {
  text-decoration: none;
  color: rgba(204, 204, 204, 0.863);
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.top-section .menu-right a:hover {
  color: #fff;
}
.top-section .menu-right a:hover > i {
  transform: rotate(180deg);
}
.top-section .menu-right a i {
  font-size: 13px;
  transition: all 0.3s ease-in-out;
}
.top-section .menu-last {
  display: flex;
  align-items: center;
  gap: 2em;
}
.top-section .menu-last span > i {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #232323;
  cursor: pointer;
}
.top-section .menu-last span > i:hover {
  background: #ccc;
}
.top-section .menu-last #move {
  -webkit-animation: spin 3s infinite;
          animation: spin 3s infinite;
}
@-webkit-keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
.top-section .background-menu-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  color: #fff;
}
.top-section .background-menu-content .content-text h1 {
  font-size: 55px;
  font-weight: 700;
}
.top-section .background-menu-content .content-text h2 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.top-section .background-menu-content .content-text p {
  color: #ccc;
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
  line-height: 2;
}
.top-section .background-menu-content .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  height: 50px;
  width: 180px;
  margin: auto;
  border-radius: 5px;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 30px;
  font-weight: 600;
  background: rgba(0, 0, 255, 0.5);
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.top-section .background-menu-content .btn::after {
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  background: rgba(255, 0, 0, 0.377);
  transition: all 0.4s ease-in-out;
  width: 0%;
  border-width: 1px;
  border-radius: 5px;
}
.top-section .background-menu-content .btn:hover::after {
  transition: all 0.4s ease-in-out;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 80%;
  height: 100%;
  margin: auto;
}/*# sourceMappingURL=style.css.map */